* {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: white;
  color: #05337b;
}

header {
  margin-top: 20px;
  width: 100%;
  height: 15%;
  position: relative;
}

nav {
  width: 100%;
}

nav li {
  width: 201px;
  height: 40px;
  text-align: center;
}

.two_lined_border {
  border-left: 2px solid #8fafd2;
  border-right: 2px solid #8fafd2;
}
.two_lined_border:hover {
  text-decoration: wavy underline;
}

.no_lined_border:hover {
  text-decoration: wavy underline;
}
nav ul li {
  display: inline-block;
  font: normal bold 50px;
}

nav ul li a {
  text-decoration: none;
  color: #05337b;
}
#main_logo {
  width: 180px;
  height: 100px;
}
#logo {
  height: 15%;
}

#nav_bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  text-align: center;
}

h1,
hr,
p {
  padding: 10px;
  margin: 10px;
  height: 10%;
  text-align: right;
}
iframe {
  width: 800px;
  height: 530px;
  margin-left: 700px;
  margin-bottom: 100px;
}
